@import "style.scss";

//include breakpoints to avoid horizontal scroll or more than 75 characters

@media screen and (max-width: 500px) {
	h1 {
		font-size: 4em;
		line-height: 1em;
	}
	h2 {
		font-size: 2em;
	}
	nav {
		.navbar {
			display: none;
		}
		#hamburger_icon {
			display: block;
			position: fixed;
			top: 12px;
			right: 12px;
			width: 30px;
			height: 22px;
			cursor: pointer;
			z-index: 101;
			background-color: none;
		}
		.hamburger_bar {
			position: absolute;
			width: 30px;
			height: 4px;
			background-color: #fff;
		}
		#hamburger_top {
			top: 0px;
			transform-origin: 4px 10px 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
		#hamburger_middle {
			top: 11px;
			opacity: 1;
		}
		#hamburger_bottom {
			top: 22px;
			transform-origin: 4px -4px 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}
	#home {
		padding: 5vh;
	}
	.form-control {
		width: 15vh;
		margin: 1vh auto;
	}
	.btn {
		margin-top: 2vh;
	}
	footer {
		padding: 2vh;

		h3 {
			text-align: center;
			line-height: 0.5em;
		}
		.leftFoot {
			display: none;
		}
		.rightFoot {
			display: none;
		}
	}
	#addNew {
		.whiteTransparentWrapper {
			padding-top: 15%;
		}
	}


	// BROWSE BY AREA BROWSE BY AREA BROWSE BY AREA BROWSE BY AREA BROWSE BY AREA
	.typeTitleMap {
		margin-left: 50vw;
		padding: 5px 10px;

		h1 {
			font-size: 1em;
			font-weight: 400;
		}
	}
	#addNewSmall .whiteTransparentWrapper {
		padding: 10px;
	}
	#addNewSmall .submitText {
		margin-left: 1vh;
	}
}






















